<div class="card">
  <div class="card_headline">
    <div class="card_headline-bg"></div>
    <div class="card_headline-label"><span>АССОЦИАЦИЯ «В ЛЕСУ»</span></div>
    <div class="card_headline-head">
      <h2 class="h2">Общее Cобрание Cобственников 2017</h2>
    </div>
  </div><!-- /.card_headline -->
  <div class="card_description">
    <h4 class="card-head">1</h4>
    <h3 class="card-title">Что случилось?</h3>
    <div class="card-text">
      <p>Видимо, в вашем доме скоро будет проводиться общее собрание собственников (ОСС). В холлах первых этажей и лифтах висят объявления. А в чатах идут споры.</p>
    </div><!-- /.card-text -->
  </div><!-- /.card_description -->
</div><!-- /.card -->
