<div class="cards-header">
  <div class="cards-header-bg"></div>
  <div class="cards-header-label"><span>АССОЦИАЦИЯ «В ЛЕСУ»</span></div>
  <div class="cards-header-title">
    <h1 class="h1">Общее Cобрание Cобственников 2017</h1>
  </div><!-- /.cards-header-title -->
  <div class="cards-header_share">
    <div class="cards-header_share-text"><span>Расскажите всем, а то вдруг кто-то не знает:</span></div>
    <div class="likely likely-small likely-light">
      <div class="vkontakte">Поделиться</div>
      <div class="twitter">Твитнуть</div>
      <div class="facebook">Поделиться</div>
      <div class="gplus">Плюсануть</div>
      <div class="odnoklassniki">Класснуть</div>
      <div class="whatsapp">Вотсапнуть</div>
      <div class="telegram">Отправить</div>
    </div>
  </div><!-- /.cards-header_share -->
</div><!-- /.card_headline -->

<div class="cards-body">
  <div class="cards-body_sidebar">
    <div class="cards-menu">
      <ul class="menu-list">
        <li class="menu-list_item">
          <div class="menu-list_index"><span>1.</span></div>
          <div class="menu-list_title"><span>Что случилось?</span></div>
        </li>
        <li class="menu-list_item">
          <div class="menu-list_index"><span>2.</span></div>
          <div class="menu-list_title"><span>Собрание собственников? Что это?</span></div>
        </li>
        <li class="menu-list_item">
          <div class="menu-list_index"><span>3.</span></div>
          <div class="menu-list_title"><span>Почему это важно для меня?</span></div>
        </li>
        <li class="menu-list_item">
          <div class="menu-list_index"><span>4.</span></div>
          <div class="menu-list_title"><span>Нет! Это не мое решение и платить я не буду!</span></div>
        </li>
        <li class="menu-list_item">
          <div class="menu-list_index"><span>5.</span></div>
          <div class="menu-list_title"><span>Хорошо. Какие вопросы будут в этот раз?</span></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="cards-body_content">
    {% include "blocks/cards/card.html" %}
  </div>
</div><!-- /.cards-body -->
