<div class="card" id="card1">
  <div class="card_description">
    <h4 class="card-head">1</h4>
    <h3 class="card-title">Что случилось?</h3>
    <div class="card-text">
      <p>Видимо, в вашем доме скоро будет проводиться общее собрание собственников (ОСС). В холлах первых этажей и лифтах висят объявления. А в чатах идут споры.</p>
    </div><!-- /.card-text -->
  </div><!-- /.card_description -->
</div><!-- /.card -->

<div class="card" id="card2">
  <div class="card_description">
    <h4 class="card-head">2</h4>
    <h3 class="card-title">Собрание собственников? Что это?</h3>
    <div class="card-text">
      <p>Общее собрание собственников помещений в многоквартирном доме — это орган управления домом.</p>
      <p>На нем обсуждаются и принимаются решения по различным вопросам: выбор способа управление домом, выбор управляющей компании, установка видеонаблюдения, правила выгула собак и многие другие.</p>
    </div><!-- /.card-text -->
  </div><!-- /.card_description -->
</div><!-- /.card -->

<div class="card" id="card3">
  <div class="card_description">
    <h4 class="card-head">3</h4>
    <h3 class="card-title">Почему это важно для меня?</h3>
    <div class="card-text">
      <p>Решение собрания обязательно к исполнению всеми собственниками. И не имеет значения согласны вы с ним или нет. То же, если вы вообще не голосовали.</p>
      <p>Если собрание, например, решит установить систему видеонаблюдения, то ее стоимость будет распределена на всех жителей, эта сумма будет включена в платежный документ и вы будете обязаны её оплатить.</p>
    </div><!-- /.card-text -->
  </div><!-- /.card_description -->
</div><!-- /.card -->

<div class="card" id="card4">
  <div class="card_description">
    <h4 class="card-head">4</h4>
    <h3 class="card-title">Нет! Это не мое решение и платить я не буду!</h3>
    <div class="card-text">
      <p>Это закон. Если вы не заплатите, управляющая компания обратится в суд и взыщет эти деньги с вас принудительно.</p>
    </div><!-- /.card-text -->
  </div><!-- /.card_description -->
</div><!-- /.card -->

<div class="card" id="card5">
  <div class="card_description">
    <h4 class="card-head">5</h4>
    <h3 class="card-title">Хорошо. Какие вопросы будут в этот раз?</h3>
    <div class="card-text">
      <p>Это написано на информационном листе, в разделе «повестка собрания».</p>
    </div><!-- /.card-text -->
  </div><!-- /.card_description -->
</div><!-- /.card -->
